@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Map Markers or Additional Styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  /* rounded-lg */
}

/* Scrollbar for terminal */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Typing effect cursor */
.typing-effect::after {
  content: '▋';
  display: inline-block;
  vertical-align: bottom;
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}